@import "tailwindcss";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, sans-serif; /* опционально, но полезно */
    background-color: rgb(44, 44, 44);
}

main {
    width: 100%;
    max-width: 1100px; /* или 1200px, стандарт для лендингов */
    margin: 0 auto;    /* надёжно центрирует по горизонтали */
    background-color: rgba(238, 130, 238, 0); /* оставьте для отладки, потом уберёте */
    display: flex;
    justify-content: center;
    flex-direction: column;
}